{% extends "base.html" %}

{% block content %}
    <div>
        <style>
            h1,h6{text-align:center;}
            
        </style>
        </style>
        <h4 style="color:red">Home Page</h4>
        
        <h1 style="color:orange">Documents that </h1>
        <h1 style="color:orange">gets results.. </h1>
    
    </div>
    <div>
        <h6>Are you a new user?</h6>
        <h6>Create your account here</h6>
        <a href="/accounts/signup" type="button" class="btn btn-warning">SignUp Here</a>
{% endblock %}