{% extends "base.html" %}

{% block content %}
    
      <h1>Sign-Up Here</h1>
      
  
  <form method="post" action="/accounts/signup/">
    {%csrf_token%}
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="text" class="form-control" placeholder="Username" name="username"aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">First and last name</span>
      </div>
      <input type="text" name="firstname" placeholder="Fisrt name" class="form-control">
      <input type="text" name="lastname" placeholder="last name" class="form-control">
    </div>
    <br>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Sign-up</button>
  </form>

  
{% endblock %}